<div class="container" ng-controller="ViewDemoController">

  <h2>
    {{demo.name}} <small><span class="text-muted">{{demo.createdAt}}</span></small>
  </h2>
  <hr/>

  <div>
    <button ng-click="addUser()" class="btn btn-default">Add Retail Store Manager</button>
  </div>
  <hr/>

  <h2>{{demo.users.length}} users</h2>
  <div class="panel panel-default" ng-repeat="user in demo.users">
    <div class="panel-heading">
      <h3 class="panel-title">{{user.username}} {{user.email}} 
        (<span ng-repeat="role in user.roles">{{role.name}}</span>)
      </h3>
    </div>
    <div class="panel-body">
      <p>
        Get an access token for this user.
      </p>

      <form>
        <div>
          <button type="submit" ng-click="loginAs(user)" class="btn btn-default">Get token for <b>{{user.email}}</b></button>
          <span id="token-{{user.id}}"></span>
        </div>
      </form>
    </div>
  </div>

</div>
